@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700&display=swap&subset=cyrillic');
body {
  margin: 0;
  height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
// First sction(Header)
.container-header {
  background-image: url('../data/images/fon (2).png');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    text-align: center;
    color: #B8FF9C;
    .container-header__main-text {
      font-size: 6rem;
      font-weight: 700;
    }
    .container-header__second-text {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
// Change language
.container-change_language {
  position: fixed;
  bottom: 90%;
  left: 90%;
  .container-change_language__button {
    width: 3rem;
    height: 3rem;
    background-color: rgba(124, 121, 121, 0.432);
    outline: none;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.1rem;
  }
  .container-change_language__button__active {
    background-color: black;
    color: white;
  }
}

// Personal 
.personal_container {
  margin-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .container-personal__left {
    width: 60%;
    .left__main-text {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 1.6rem;
      text-align: justify;
      text-indent: 1.5rem;
    }
    .left__list-contacts {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      list-style: none;
      margin: 0;
      padding-inline-start: 0;
      li {
        font-size: 1.4rem;
        span {
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
    }
  }
  .container-personal__right {
    width: 35%;
    img {
      width: 18rem;
      height: auto;
    }
  }
}