@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700&display=swap&subset=cyrillic');
body {
  margin: 0;
  height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  color: #00007A !important;
}
.container_for_container {
  background: rgb(0,0,199);
  background: linear-gradient(0deg, rgba(0,0,199,0.08167016806722693) 0%, rgba(9,9,121,0.08727240896358546) 22%, rgba(49,168,193,0.0760679271708683) 64%);
  min-height: 10000px;
}
.btn-primary {
  background-color: #C2B400 !important;
  border-color: #C2B400 !important;
}

.btn-secondary {
  background-color: #A0BFC5 !important;
  border-color: #A0BFC5 !important;
}
// First section(Header)
.blue {
  background-color: rgba(0, 0, 255, 0.384);
  position: absolute;
  width: 99vw;
  height: 100vh;
  top: 0;
}
.container-header {
  background-image: url('../data/images/main_fon.png');
  background-repeat: no-repeat;
  background-size: 100% 1140px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    text-align: center;
    color: #C2B400;
    z-index: 5;
    .container-header__main-text {
      font-size: 6rem;
      font-weight: 700;
    }
    .container-header__second-text {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
// Change language
.container-change_language {
  position: fixed;
  bottom: 90%;
  left: 90%;
  .container-change_language__button {
    width: 3rem;
    height: 3rem;
    background-color: rgba(124, 121, 121, 0.432);
    outline: none;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.1rem;
    color: white;
  }
  .container-change_language__button__active {
    background-color: #C2B400;
    color: white;
  }
}

.container__title {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 5rem;
  padding-top: 5rem;
  margin-bottom: 3rem;
  border-bottom: 5px solid #00007A;
  text-transform: uppercase;
}

// Personal 
.personal_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .container-personal__left {
    width: 50%;
    .left__main-text {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 1.6rem;
      text-align: justify;
      text-indent: 1.5rem;
    }
    .left__list-contacts {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      list-style: none;
      margin: 0;
      padding-inline-start: 0;
      li {
        font-size: 1.4rem;
        span {
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
    }
    .left__buttons {
      margin-top: 2rem;
      button {
        margin-right: 2rem;
        width: 11rem !important;
        height: 3.5rem;
        font-family: 'Yanone Kaffeesatz', sans-serif !important;
        font-size: 1.6rem; 
      }
    }
  }
  .container-personal__right {
    width: 45%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

// What I do

.what_i_do-container {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: flex;
  justify-content: center;
  height: 600px;
  .what_i_do-container__container_for_items {
    height: 100%;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    .container_for_items__item {
      width: 15rem;
      height: 15rem;
      background-color: rgba(194, 181, 0, 0.363);
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      h4 {
        font-size: 2rem;
        font-weight: 700;
      }
      p {
        font-size: 1.4rem;
        width: 13rem;
        text-align: justify; 
      }
    }
    .container_for_items__paragraph {
      align-self: center;
      font-size: 2rem;
      font-weight: 700;
      background-color: rgba(194, 181, 0, 0.363);
      border-radius: 15px;
      padding: 15px;
      width: 100%;
      margin: 1.5rem 0;
    }
    .container_for_items__item__blue {
      background-color: #307CE6;
    }
    .align-self {
      align-self: flex-end;
    }
  }
}

// Skils
.skils-container {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: flex;
  justify-content: center;
  height: 600px;
  .skils-container__container_for_items {
    height: 100%;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    .container_for_items__item {
      width: 15rem;
      height: 15rem;
      background-color: rgba(194, 181, 0, 0.363);
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      h4 {
        font-size: 2rem;
        font-weight: 700;
      }
      p {
        font-size: 1.4rem;
        width: 13rem;
        text-align: justify; 
      }
    }
    .container_for_items__paragraph {
      align-self: center;
      font-size: 2rem;
      font-weight: 700;
      background-color: rgba(194, 181, 0, 0.363);
      border-radius: 15px;
      padding: 15px;
      margin: 1.5rem 0;
    }
    .container_for_items__item__blue {
      background-color: #307CE6;
    }
    .align-self {
      align-self: flex-end;
    }
  }
}

// Works
.my_works__item {
  img {
    width: 32rem;
    height: auto;
  }
}
.my_works__list {
  list-style: none;
  display: flex;
  .list__item {
    margin-right: 2rem;
    font-size: 1.6rem;
    padding: 10px;
    cursor: pointer;
  }
  .list__item__active {
    border-radius: 10px;
    background-color: rgba(194, 181, 0, 0.363);;
  }
}

// Drop me a line
